Flow 1.json
[{"id":"735d5c87.dbb674","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"dc017959.ee6358","type":"inject","z":"735d5c87.dbb674","name":"","topic":"","payload":",,25","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["547baafa.604754"]]},{"id":"2e93b704.70f6c8","type":"inject","z":"735d5c87.dbb674","name":"","topic":"","payload":",,20","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":300,"wires":[["547baafa.604754"]]},{"id":"547baafa.604754","type":"mqtt out","z":"735d5c87.dbb674","name":"","topic":"mcs/DxB9yMQW/CU0n8Ief02VXPeq2/Temperature","qos":"2","retain":"","broker":"4e2a652e.4ea36c","x":430,"y":220,"wires":[]},{"id":"4e2a652e.4ea36c","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]