Flow 2.json
[{"id":"a950324c.aa774","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"7b34fd12.fce004","type":"mqtt in","z":"a950324c.aa774","name":"","topic":"mcs/DxB9yMQW/CU0n8Ief02VXPeq2/+","qos":"2","datatype":"auto","broker":"4e2a652e.4ea36c","x":200,"y":240,"wires":[["74cf2a4.c7509d4"]]},{"id":"74cf2a4.c7509d4","type":"csv","z":"a950324c.aa774","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":",,Data","skip":"0","x":310,"y":340,"wires":[["fb3f8d75.1aed4"]]},{"id":"fb3f8d75.1aed4","type":"change","z":"a950324c.aa774","name":"Get Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":480,"wires":[["f20f1edd.a62d8"]]},{"id":"f20f1edd.a62d8","type":"ui_gauge","z":"a950324c.aa774","name":"","group":"5abfdcb5.7cb7a4","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":480,"wires":[]},{"id":"4e2a652e.4ea36c","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5abfdcb5.7cb7a4","type":"ui_group","z":"","name":"Status","tab":"b6ca036f.e551","order":1,"disp":true,"width":"6","collapse":false},{"id":"b6ca036f.e551","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]